{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center">All Reviews</h2>
        <div class="col-md-12">
            <!-- Search Form -->
            <form method="GET" class="mb-3 mt-2 p-3">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search reviews" value="{{ search_term }}">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                    <a href="{% url 'reviews' %}" class="btn btn-dark ml-2">Clear</a>
                </div>
            </form>
            <!-- Display Reviews -->
            <div class="row mt-4">
                {% for review in all_reviews %}
                <div class="col-md-12 mb-3">
                    <div class="list-group">
                        <a href="{% url 'album_detail' album_id=review.album.album_id %}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{review.title}}</h5>
                                <small>{{review.author}}</small>
                            </div>
                            <p class="mb-1">{{review.album.title}}</p>
                            <small class="text-muted">{{review.created_at}}</small>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}