{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h1 class="text-center mb-4">{% trans "Password Reset" %}</h1>
            {% url 'account_reset_password' as reset_password_url %}
            <form method="post" action="{{ reset_password_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid">
                    <button class="btn btn-outline-dark" type="submit">{% trans "Reset Password" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}