{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>
            {% url 'account_signup' as signup_url %}
            <form method="post" action="{{ signup_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {{ redirect_field }}
                <div class="d-grid">
                    <button class="btn btn-outline-dark" type="submit">{% trans "Sign Up" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}