{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Email Verification Sent" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h1 class="text-center mb-4">{% trans "Email Verification Sent" %}</h1>
            <p class="text-center">
                {% trans "A verification email has been sent to your email address. Please check your inbox and follow the instructions to verify your email." %}
            </p>
        </div>
    </div>
</div>
{% endblock content %}