{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for album in albums %}
            <div class="col-md-3 mb-3 align-items-center">
                <div class="card h-100">
                    <img src="{{album.artwork}}" class="card-img-top" alt="Album Artwork">
                    <div class="card-body">
                    <h5 class="card-title">{{ album.name }}</h5>
                    <p class="card-text">{{ album.artist }}</p>
                    <p class="card-text">{{ album.release_date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

